<html>
<title>Discussion topic details</title>
<head>
</head>

<body background="texture1.jpg">
 
<div style="position:absolute;top:100px;left:300px ">

<table border="1" width=600 height=100>

<caption>
<b>Details</b>
</caption>

<tr>
     <th>Forum title</th>
     <th>Topic title</th>
     <th>Topic Details</th>
     <th>Comments</th>
     <th>Input Comments</th>
</tr>

<tr>
     <td>Morphine</td>
     <td>A Addiction</td>
     <td>Drug or a medicine</td>
     <td>medicine</td>
     <td>######</td>
</tr>
</div>


</body>
</html>