<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>Untitled Page</title>

	<link rel="stylesheet" type="text/css" href="style1.css" />
    <script type="text/javascript" src="#"></script>
</head>
<body>

<div id="body-wrap">

	
	<header id="header">
		<hgroup id="logo">
			<h1><a href="#">MY PLANNER</a></h1>
			
			<h2>Hi <a href="/user">{{ usernam }}</a>,i know you like priyanka  </h2>
		</hgroup>
	</header>

	<div class="content">

		<ul class="grid">
			<li class="block block-full block-new-row">
				<div class="block-background">
					<a href="#"><img src="student_planners.jpg" /></a>
				</div>
				<div class="block-content-bottom">
					<div class="inner">						
						<h2 class="post-title"><a href="#">Plan your day :)</a></h2>	
						<span class="post-sub-title">Jan 23, 2011</span>

						<div class="post-comments"><a href="#">12</a></div>
					</div>
				</div>				
			</li>
			<li class="block block-full">
				<div class="block-background">
					<img src="appointment_pic.jpg" />
				</div>
				<div class="block-content-bottom">

					<div class="inner">						
						<h2 class="post-title"><a href="#">My Appointments</a></h2>	
						<!--<span class="post-sub-title">Jan 02, 2011</span>
						<div class="post-comments"><a href="#">3</a></div>-->
					</div>
				</div>
			</li>
			<li class="block block-full bg-orange">

				<div class="block-content-full">
					<div class="date">
						<div class="date-day">23</div>
						<div class="date-month">January</div>
					</div>
					<div class="content">
						All indians are my brothers and sisters.
					</div>

					<h3 class="footnote"><a href="#">News and Updates</a></h3>
				</div>
			</li>
			<li class="block block-half block-new-row bg-purple">
				<div class="block-icon">
					<a href="#"><img src="images/icon-large-02.png" /></a>
				</div>
				<h3 class="footnote"><a href="#">Blog</a></h3>

			</li>
			<li class="block block-half bg-teal">
				<div class="block-icon">
					<a href="#"><img src="images/icon-large-03.png" /></a>
				</div>
				<h3 class="footnote"><a href="#">My Portfilio</a></h3>
			</li>
			<li class="block block-full">

				<div class="block-background">
					<img src="images/6.jpg" style="margin-top: -30px;" />
				</div>
				<h3 class="footnote"><a href="#">Gallery</a></h3>
			</li>
			<li class="block block-full bg-green">
				<div class="block-content-full">
					<h2>My Friends</h2>

					<ul class="list-link">
						<li><a href="/user">{{ usernam }}</a></li>
						<li><a href="#">Icondock</a></li>
						<li><a href="#">Web Designer Wall</a></li>
						<li><a href="#">Best Web Gallery</a></li>
					</ul>
				</div>

			</li>
			<li class="block block-full block-new-row bg-magenta">
				<div class="block-icon">
					<a href="#"><img src="images/icon-large-01.png" /></a>
				</div>
				<h3 class="app-title"><a href="#">NEWS FEEDS</a></h3>
			</li>
			<li class="block block-full">

				<div class="block-content-full">
					<h2>My Scheduler (<a href="#"></a>)</h2>
					<p>scheduler <a href="#"> </a>  <a href="#"></a> 6 hours ago</p>					
				</div>

			</li>
			<li class="block block-full bg-purple">
				<div class="block-background">
					<a href="#"><img src="images/map-01.png" /></a>
				</div>
				<div class="block-footnote">
					<h3><a href="#">Need help??? connect with your mentor</a></h3>
				</div>

			</li>

		</ul>
	</div>

</div>

</body>
</html>
