<form action="/addevent/" method="post">
    {% for field in form %}
    <div class="fieldWrapper">
          {{ field.errors }}
          {{ field.label_tag }}: {{ field }}
      </div>
      {% endfor %}
    <br />
    {{ eventform.as_table }}
    <div class="fieldWrapper">
        <label for="id_event_type">Courses</label>:<select name="event_type" id="id_event_type">
            <option value="Lecture" selected="selected">Lecture</option>
            <option value="Club">Club</option>
            <option value="Project">Project</option>
            <option value="Sport">Sport</option>
        </select>
    </div>
    <div class="fieldWrapper">
        <label for="id_Course">Courses</label>:<select name="course" id="id_course">
            {% for course in courses %}
            <option value="{{ course.id }}" >{{ course.id }}</option>
            {% endfor %}
        </select>
    </div>
    <input type="submit" value="Submit" />
</form>

