<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>Untitled Page</title>

	<link rel="stylesheet" type="text/css" href="style-lecture.css" />
    <script type="text/javascript" src="#"></script>

</head>
<body>

<div id="body-wrap">

	
	<header id="header">
		<hgroup id="logo">
			<h1><a href="#">MY PLANNER</a></h1>
			<h2>DA-IICT</h2>
		</hgroup>
	<div class="content">
		<ul class="lecture">
			<li class="lec-block lec-block-full ">
				<div class="lecture-time">  TIME TABLE </div>
					<ul class="inner-block">
						
						<li class="block-s block-sfull block-sgrey">
							<p class="textstyle"> TIMING / DAYS </p>
						</li>
						<li class="block-s block-sfull block-sgrey">
							<p class="textstyle"> MONDAY</p>
						</li>
						<li class="block-s block-sfull block-sgrey">
							<p class="textstyle"> TUESDAY</p>
						</li>
						<li class="block-s block-sfull block-sgrey">
							<p class="textstyle"> WEDNESSDAY</p>
						</li>
						<li class="block-s block-sfull block-sgrey">
							<p class="textstyle"> THRUSDAY</p>
						</li>
						<li class="block-s block-sfull block-sgrey">
							<p class="textstyle"> FRRIDAY</p>
						</li>
						
						<li class="block-r block-rfull block-sgrey block-new-row"> 
						</li>
						<li class="block-r block-rfull block-sblue"> 
						</li>
						<li class="block-r block-rfull block-spink"> 
						</li>
						<li class="block-r block-rfull block-sblue"> 
						</li>
						<li class="block-r block-rfull block-spink"> 
						</li>
						<li class="block-r block-rfull block-sblue"> 
						</li>
						
						<li class="block-r block-rfull block-sgrey block-new-row"> 
						</li>
						<li class="block-r block-rfull block-sblue"> 
						</li>
						<li class="block-r block-rfull block-spink"> 
						</li>
						<li class="block-r block-rfull block-sblue"> 
						</li>
						<li class="block-r block-rfull block-spink"> 
						</li>
						<li class="block-r block-rfull block-sblue"> 
						</li>
						
						<li class="block-r block-rfull block-sgrey block-new-row"> 
						</li>
						<li class="block-r block-rfull block-sblue"> 
						</li>
						<li class="block-r block-rfull block-spink"> 
						</li>
						<li class="block-r block-rfull block-sblue"> 
						</li>
						<li class="block-r block-rfull block-spink"> 
						</li>
						<li class="block-r block-rfull block-sblue"> 
						</li>
					</ul>
				
			</li>
			
			
		</ul>
				</div>			
				
				<!--EF58EF-->
				
				<!--<div class="block-background">
					<a href="#"><img src="student_planners.jpg" /></a>
				</div>
				<div class="block-content-bottom">
					<div class="inner">						
						<h2 class="post-title"><a href="#">Plan your day :)</a></h2>	
						<span class="post-sub-title">Jan 23, 2011</span>

						<div class="post-comments"><a href="#">12</a></div>
					</div>
				</div>-->				
			</li>
		</ul>
	</div>
	<script= "text/javascript" src = "js/jquery.js">
	
</div>
</body>


